<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- <form action="" #feedbackForm="ngForm" (ngSubmit)="submitFeedback()">
                <legend>Let us know what you think</legend>
                <hr>
        
                <div class="mb-3">
                    <label for="emailAddress">Email Address:</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="emailAddress" 
                        name="=emailAddress" 
                        placeholder="Your email address"
                        [(ngModel)]="feedback.emailAddress"
                        
                        required
                        email

                        #emailInput = "ngModel"
                    />
                    <div class="text-danger" *ngIf="emailInput.invalid && (emailInput.dirty || feedbackForm.submitted)">
                        <div *ngIf="emailInput.hasError('required')">Email is required</div>
                        <div *ngIf="emailInput.hasError('email')">Invalid email format</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="phoneNumber">Phone Number:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="phoneNumber" 
                        name="phoneNumber" 
                        placeholder="Your phone number"
                        [(ngModel)]="feedback.phoneNumber"
                        
                        pattern="[0-9]{4}-[0-9]{4}"

                        #phoneInput="ngModel"
                    />
                    <div class="text-danger" *ngIf="phoneInput.invalid && (phoneInput.dirty || feedbackForm.submitted)">
                        <div *ngIf="phoneInput.hasError('pattern')">Invalid phone number format</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="rateExperience">Rate Experience:</label>
                    <input type="range" class="form-range" min="0" max="10" step="1" id="rateExperience" name="rateExperience" placeholder="Your rate experience"
                    [(ngModel)]="feedback.rate">
                    <div>Your feedback rate: {{feedback.rate}}</div>
                </div>
        
                <div class="mb-3">
                    <label for="title">Title:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="title" 
                        name="title" 
                        placeholder="Your feedback title"
                        [(ngModel)]="feedback.feedbackTitle"
                        
                        required

                        #titleInput="ngModel"
                    />
                    <div class="text-danger" *ngIf="titleInput.invalid && (titleInput.dirty || feedbackForm.submitted)">
                        <div *ngIf="titleInput.hasError('required')">Title is required</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="feedback">Feedback:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="feedback" 
                        name="feedback" 
                        placeholder="Your feedback"
                        [(ngModel)]="feedback.feedback"
                        
                        required

                        #feedbackInput="ngModel"
                    />
                    <div class="text-danger" *ngIf="feedbackInput.invalid && (feedbackInput.dirty || feedbackForm.submitted)">
                        <div *ngIf="feedbackInput.hasError('required')">Feedback is required</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit" [disabled]="!feedbackForm.valid">
                        <i class="bi bi-send"></i> Submit feedback
                    </button>
                </div>
            </form> -->

            <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
                <legend>Let us know what you think</legend>
                <hr>
        
                <div class="mb-3">
                    <label for="emailAddress">Email Address:</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="emailAddress" 
                        name="=emailAddress" 
                        placeholder="Your email address"
                        
                        formControlName="emailAddress"

                    />
                    <div class="text-danger" *ngIf="feedbackForm.get('emailAddress')?.invalid && feedbackForm.get('emailAddress')?.dirty">
                        <div *ngIf="feedbackForm.get('emailAddress')?.hasError('required')">Email is required</div>
                        <div *ngIf="feedbackForm.get('emailAddress')?.hasError('email')">Invalid email format</div>
                        <div *ngIf="feedbackForm.get('emailAddress')?.hasError('invalidDomain')">Invalid domain, use only {{'@google.com'}}</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="phoneNumber">Phone Number:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="phoneNumber" 
                        name="phoneNumber" 
                        placeholder="Your phone number"
                        formControlName="phoneNumber"

                    />
                    <div class="text-danger" *ngIf="feedbackForm.get('phoneNumber')?.invalid && feedbackForm.get('phoneNumber')?.dirty">
                        <div *ngIf="feedbackForm.get('phoneNumber')?.hasError('pattern')">Invalid phone number format</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="rateExperience">Rate Experience:</label>
                    <input type="range" class="form-range" min="0" max="10" step="1" id="rateExperience" name="rateExperience" placeholder="Your rate experience"
                    formControlName="rate">
                    <div>Your feedback rate: {{feedbackForm.get('rate')?.value}}</div>
                </div>
        
                <div class="mb-3">
                    <label for="title">Title:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="feedbackTitle" 
                        name="feedbackTitle" 
                        placeholder="Your feedback title"
                        formControlName="feedbackTitle"
                    />
                    <div class="text-danger" *ngIf="feedbackForm.get('feedbackTitle')?.invalid && feedbackForm.get('feedbackTitle')?.dirty">
                        <div *ngIf="feedbackForm.get('feedbackTitle')?.hasError('required')">Title is required</div>
                        <div *ngIf="feedbackForm.get('feedbackTitle')?.hasError('inappropriateKeyword')">Remove inappropriate words</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="feedback">Feedback:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="feedback" 
                        name="feedback" 
                        placeholder="Your feedback"
                        formControlName="feedback"
                    />
                    <div class="text-danger" *ngIf="feedbackForm.get('feedback')?.invalid && feedbackForm.get('feedback')?.dirty">
                        <div *ngIf="feedbackForm.get('feedback')?.hasError('required')">Feedback is required</div>
                        <div *ngIf="feedbackForm.get('feedback')?.hasError('inappropriateKeyword')">Remove inappropriate words</div>
                    </div>
                </div>
        
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit" [disabled]="!feedbackForm.valid">
                        <i class="bi bi-send"></i> Submit feedback
                    </button>
                </div>
            </form>
        </div>
    </div>
   
</div>